[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/viki_vim"]
	path = bundle/viki_vim
	url = https://github.com/tomtom/viki_vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tail"]
	path = bundle/tail
	url = https://github.com/vim-scripts/Tail-Bundle.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
	branch = master
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe
	branch = master
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git://github.com/mhinz/vim-startify
	branch = master
